{% include "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <body onload="pencil()">
        <p><table>
            <tr>
            <td>
                <fieldset id="toolset">
                <br>
                <br>
                <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
                <br>
                <br>
                <br>
                <button id="erasertool" type="button" style="height: 25px; width: 100px;" onclick="eraser()">Eraser</button> 
                <br>
                <br>
                <br>
                <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button> 
                </fieldset>
            </td>
            <td>
                <canvas id="paint" width="450" height="450" style="border: 5px solid #000000;"></canvas>
            </td>
            </tr>
        </table></p>
        <fieldset id="colorset">
        <table>
            <tr>
                <td><label>Line Width</label></td>
                <td><button id="pixel_plus" type="button" onclick="add_pixel()" style="width: 25px;">+</button></td>
                <td><button id="pixel_minus" type="button" onclick="reduce_pixel()" style="width: 25px;">-</button></td>
                <td><label id="line_width"> </label></td>
            </tr>
        </table>
        <table>
        <tr>
            <td><label>Number of created images: </label></td>
            <td><label id="count"></label></td>
        </tr>
        </table>
        <label>Character: </label><input id="fname" type="text"><button id="save" onclick="save()">Save</button>
        </fieldset>
        <script src="https://code.jquery.com/jquery-1.8.3.js"></script>
        <script src=" {{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
